PORT=3001 
NODE_ENV=development #for production 
# POSTGRES WHICH important for restful 
DATABSE_URL="postgresql://neondb_owner:npg_4NOF7gBwaTjM@ep-lingering-bird-azrnetuv-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
#clerk - for authentication and authorization 
CLERK_PUBLISHABLE_KEY=pk_test_bWF0dXJlLWNyb3ctNDEuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_Z3A7Jeuh0JTMkeuRBbKXTJEEzUkDkvk91mT7nOcXNq
# for authentication and authorization 
SENTRY_DSN = "https://244ab93f522abe8467458122254f2010@o4511902005460992.ingest.us.sentry.io/4511902009524224"
# STREAM for chatting and videos 
STREAM_API_KEY = "4k8pqusfy3n3"
STREAM_API_SECRET = "x8e4kukwheqmj8uud5vw4jxbdevr5xmr3y9xww5ct4bw77nsvbpzk3tuwhxzym73"
#IMAGE_KIT
IMAGEKIT_PUBLIC_KEY  = "public_jZ2AWifCE1WhkTSnhRXQ/N0Kllk="
IMAGEKIT_PRIVATE_KEY = "private_ouMYGUcQ+Cgoru3LsqYUlSc66NQ="
IMAGEKIT_URL_ENDPOINT= "https://ik.imagekit.io/lqwvu6xi4"